{% extends 'symptomChecker/base.html' %}
{%load static%}
{% block content %}


<div class="container" style="margin-top:50px">
    <table class="table table-striped" style="text-align : center">
        <h1>Generic medicines price comparator</h1>

        <br/>
        <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
            Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
            <input type="submit" name="submit" value="Search"/><br><br>
        </form>


        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        <h3>Results for <b>{{ request.GET.q }}</b></h3>
        <br/><br/>
        <thead>
        <tr>
            <th scope="col">Generic Name</th>
            <th scope="col">Price in INR</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{result.genericName}}</td>
            <td>{{result.genericPrice}}</td>
        </tr>
        {% endfor %}

        {% else %}
        No search results for this query
        {% endif %}

        </tbody>

        {% endif %}
    </table>
    <br/>
</div>

<br/>

{% endblock %}